#Windowsによって作られるサムネイルを無視
Thumbs.db
#Visual Studioによって作られるファイルを無視
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
*.opensdf
*.sdf
obj/
[Rr]elease*/
_ReSharper*/

ipch/
Proximodo_0.2.5_win32/
zlib*/
clx/
\#Release/
icu/
/icu
srell/
GnuTLS*/
mingw/
wolfssl/
/wolfssl
packages/
Test/
Proxydomo/Test/
